# Core Data Science & Numerical Libraries
pandas
numpy

# API Clients & Networking
requests
dydx-v4-client

# Machine Learning & Modeling
scikit-learn
hmmlearn
tensorflow
lightgbm
joblib

# User Interface & Visualization
streamlit
plotly