# Core data science and numerical libraries
pandas==2.0.3
numpy==1.24.3

# API clients and networking
requests==2.32.3
dydx-v4-client==1.1.5

# UI and Visualization
streamlit==1.38.0
plotly==5.24.1

# Machine Learning and Econometrics Models
tensorflow==2.16.2
arch==7.1.0
hmmlearn==0.3.2
scikit-learn==1.5.1 # hmmlearn dependency